body {
    background-image: url('/png/assest.png');
    background-repeat: no-repeat;
    background-size: 100% 77%;
}

* {
    font-family: 'Inter', sans-serif;
}

.sec1tex {
    color: white;
    font-size: 52px;
    margin: 0px;

}

.mainlogo {
    text-decoration: none;
    color: white;
}

.mainlogo:hover {
    color: white;
}

#s2 {
    margin-bottom: 62px;
}
#s_2{
    background-color: white;
    height: 166px;
    width: 80%;
}

.s2 {
    border-radius: 210px;
    height: 150px;
}

.s2img {
    border-radius: 200px;
}

.s2img img {
    height: 100px;
    width: 100px;
    border-radius: 84px;
}

.position-relative p {
    color: white;
}

.section_3 {
    margin-top: 430px;
}

@media screen and (min-width:768px) {
    .section_3 {
        margin-top: 0px;
    }
}


#s3 {
    border-top-left-radius: 44px;
    border-top-right-radius: 44px;
    background-color: white;
    padding-top: 6px;
    padding-bottom: 12px;
}

.s3p1 {
    font-size: 22px;
    margin-bottom: 0px;
}

.s3c1 {
    background-color: #ADADAD;
    color: white;
    border-radius: 10px;
    width: 130px;
    height: 42px;
}

.s3c2 {
    border-radius: 22px;
    background-color: white;
    height: 76px;
    filter: drop-shadow(3px 5px 5px rgb(224, 221, 221));

}

@media screen and (min-width:768px) {

    .s3c2 {
        border-radius: 22px;
        background-color: white;
        height: 110px;
        width: 400px;
        filter: drop-shadow(3px 5px 5px rgb(224, 221, 221));
        flex-wrap: wrap;
        padding-right: 34px;
    }
}

.s3c2 p {
    font-size: 14px;
}

@media screen and (min-width:768px) {
    .s3c2 p {
        font-size: 22px;
    }
}

.s3c2 img {
    height: 30px;
    width: 30px;
    margin: 0px 10px 12px 10px;

}

#s3r1 {
    margin-bottom: 14px;
}

.progress-bar {
    width: 215px;
    height: 215px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, #173170 90%, transparent 91% 100%),
        conic-gradient(rgb(11 186 46) 83%, rgb(10 230 44) 0);
}

.progress-bar-1 {

    width: 265px;
    height: 265px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, #173170 90%, transparent 91% 100%),
        conic-gradient(#bfae11 83%, #f0db00 0);
}

.progress-bar-2 {

    width: 315px;
    height: 315px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, #173170 90%, transparent 91% 100%),
        conic-gradient(#af231a 83%, rgb(202 17 17) 0);
}

#usage {
    border: 1px black;
    background-color: #0f0b0b40;
    border-radius: 10px;
    height: 210px;
    width: 200px;
    top: 217px;
    right: 72px;
    color: white;
}

@media screen and (min-width:768px) {
    #usage {
        border: 2px solid white;
        background-color: #0f0b0b40;
        border-radius: 10px;
        height: 210px;
        width: 200px;
        top: 222px;
        right: 930px;
        color: white;
        filter: drop-shadow(7px 2px 2px rgb(71, 63, 55));
    }
    
  }
  .position-relative p {
    color: white;
}

.usage_p {
    margin-top: 6px;
    padding-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: 120px;
    text-align: center;
}

#classified{
    background: linear-gradient(
        to right,
        #255EA4, 
        #08203973
    );
    height: 150px;
    width: 150px;
    border-radius: 76px;
    top: 196px;
    left: 402px;
    filter: drop-shadow(3px 2px 2px rgb(4, 4, 3))
}
#classified img{
    padding-right: 5px;
}
#classified p{
    color: white;
    position: absolute;
    bottom: 0px;
    padding-left: 26px;
    
}
.section_3 {
    margin-top: 430px;
}

@media screen and (min-width:768px) {
    .section_3 {
        margin-top: 0px;
    }
}


#s3 {
    border-top-left-radius: 44px;
    border-top-right-radius: 44px;
    background-color: white;
    padding-top: 6px;
    padding-bottom: 12px;
}

.s3p1 {
    font-size: 22px;
    margin-bottom: 0px;
}

.s3c1 {
    background-color: #ADADAD;
    color: white;
    border-radius: 10px;
    width: 130px;
    height: 42px;
}

.s3c2 {
    border-radius: 22px;
    background-color: white;
    height: 76px;
    filter: drop-shadow(3px 5px 5px rgb(224, 221, 221));

}

@media screen and (min-width:768px) {

    .s3c2 {
        border-radius: 22px;
        background-color: white;
        height: 110px;
        width: 400px;
        filter: drop-shadow(3px 5px 5px rgb(224, 221, 221));
        flex-wrap: wrap;
        padding-right: 34px;
    }
}

.s3c2 p {
    font-size: 14px;
}

@media screen and (min-width:768px) {
    .s3c2 p {
        font-size: 22px;
    }
}

.s3c2 img {
    height: 30px;
    width: 30px;
    margin: 0px 10px 12px 10px;

}

#s3r1 {
    margin-bottom: 14px;
}
