body {
    background-image: url('/png/assest.png');
    background-repeat: no-repeat;
background-size: cover 200%;
}
.invitation{
    width: 326px;
    height: 46px;
    border-radius: 10px ;
    
    border-color: white;
    margin: 13px 10px 10px 10px;
}
@media screen and (min-width:768px) {
    .invitation{
        width: 498px;
        height: 46px;
        border-radius: 10px ;
        
        border-color: white;
        margin: 13px 10px 10px 10px;
    }    
}
#btn{
    width: 58px;
    height: 42px;
    padding-bottom: 8px;
    margin-bottom: 6px;
    margin-top: 14px;

}
@media screen and (min-width:768px) {
    #btn{
        width: 58px;
        height: 42px;
        padding-bottom: 8px;
        margin-bottom: 20px;
      
    
    } 
}


.sec1tex {
    color: white;
    font-size: 52px;

}
.mainlogo{
    text-decoration: none;
    color: white;
}
.mainlogo:hover{
    color: white;
}

.sec1img {
    text-align: end;
    padding-top: 20px;
}

#sec2{
    text-align: center;
    margin-top: 22px;
}

.sec2 {
    border: 2px solid red;
    height: 294px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


@media screen and (min-width:768px) {
    .sec2img {
        text-align: center;
        padding-top: 50px;
    }
}

.history{
    margin-top: 6px;
}



.font-fam{
    font-family: 'Inter', sans-serif;
}
#sec2im{
    text-align: center;
        padding-top: 150px;
}
@media screen and (min-width:768px) {
    #sec2im{
        text-align: center;
            padding-top: 50px;
    }
}

#sec2im img{
    height: 150px;
}
@media screen and (min-width:768px) {
    #sec2im img{
        height: 250px;
       
    }
}

#searchbox {
    margin-top: 6%;
    text-align: center;
}

.search_box {

    margin-top: 50%;
    justify-content: center;
    align-items: center;
}